* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  transition: all 0.05s;
}

.frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 5px;
  margin-top: 0;
}
h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
.App {
  width: 100%;
  max-width: 1200px;
  min-width: 800px;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.header__title {
  font-size: 20px;
}

.form {
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #eee;
}

input {
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 250px;
}

label {
  font-weight: 900;
  font-size: 20px;
}

form > button {
  cursor: pointer;
  border: none;
  background-color: cadetblue;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 100px;

  font-size: 17px;
  font-weight: 900;
}

.todolist-frame {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}

.todolist-frame--inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.done-title {
  margin-top: 30px;
}

article {
  border: 3px solid gray;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

article > div {
  position: absolute;
  align-self: center;
  justify-self: flex-end;
  bottom: 15px;
}

article > div > button {
  cursor: pointer;
  background: none;

  border-radius: 10px;

  height: 30px;
  width: 80px;
}

article > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.items-delete {
  border: 2px solid red;
}

.items-done {
  border: 2px solid green;
}
